.card.py-1.max-height {
    --bs-border-color-translucent: rgba(0, 0, 0, 0) !important;
}


.form-control {
    margin-bottom: 16px;
}

.card {
    --bs-border-color-translucent: rgba(0, 0, 0, 0) !important;
}

.card.max-height {
    height: calc(100vh - 42px) !important;
}

.card-footer {
    background: none !important;
    border-top: none !important;
    position: fixed;
    bottom: 0;
    width: 90%;
    left: 5%;
}

.progress-box {
    box-shadow: 0 10px 8px -8px !important;
    margin-bottom: 24px !important;
}